@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=Montserrat:wght@200;400;600&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:#00838C;
    font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
.container{
    margin: 0px auto;
    width: 1200px;
}
/*******
Header
*******/
#header-wrapper{
    overflow: hidden;
    padding: 5em 0em;
    background: #B03500 url(overlay.png) ;
}
#logo{
    padding: 5em 0em;
    text-align: center;
}
#logo h1{
    font-size: 3.5rem;
    color: white;

}
/*********
MENU
**********/
#menu {
    width: 80%;
    margin: 0px auto;
}
#menu ul{
    text-align: center;
}
#menu li {
    display: inline-block;
}
#menu li a{
    display: inline-block;
    margin-left: 00.50em;
    padding: 1.5em 1.5em;
    letter-spacing: 0.20em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: white;
}
#menu li a:hover{
    color:black;
    transform: scale(1.1);
}

/****
Section 1
*****/
#wrapper3{
    overflow: hidden;
    padding: 8em 0em;
    background: white;
}

#port .box{
    text-align: center;
     color: rgba(0,0,0,0.5);;
}
#port h3{
    display: block;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
    color:rgba(0,0,0,0.6);
}
#port .title{
    text-align: center;
}
#port .title h2{
    color: rgba(0,0,0,0.8);
    font-size: 2em;
}

.column1, .column2 , .column3 , .column4 {
    width: 282px;
}
.column1, .column2 , .column3 {
    float: left;
    margin-right: 24px;
}
.column4{
    float: left;
}
.title .byline{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #6F6F6F;  
 
}
.title{
		margin-bottom: 3em;
}	
.title h2{
		font-size: 2.8em;
		color: rgba(255,255,255,0.9);
    }
.button {
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em 1em 2em;
    background:#B03500;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
}
.button:hover{
    color: black;
}
.button-small{
    padding: 0.9em 2em;
    line-height: 1.8;
    font-size: 1em;
}
.button-small:hover{
    color: black;
}
/*********
Section2
***********/
#wrapper1{
    background: #242424;
}
#welcome{
    overflow: hidden;
    padding: 8em 0em;
    text-align: center;
    color: rgba(255,255,255,0.3);
}
/*******
Form
********/
#wrapper2{
    background: #EDEDED;
}
#forma{
    overflow: hidden;
    padding: 8em 0em;
    background: #EDEDED;
    text-align: center;
}
#forma .title h2{
    color: rgba(0,0,0,0.8);
}
#forma .content {
    width: 600px;
    margin-right: 0px;
}
form .submit {
    margin-top: 2em;
    background: #B03500;
    line-height: 1.5em;
    font-size: 1.3em;
}
form input[type=text], form textarea {
    position: relative;
    -webkit-apperance: none;
    display: block;
    border: 0;
    background: white;
    background: rgba(255,255,255,0.75);
    width: 90%;
    border-radius: 20px;
    margin: 1em 0em;
    padding: 1.50em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
    border: solid 1px rgba(0,0,0,0.15);
    transition: all 0.35s ease-in-out;
    
}
input[type=text]:hover{
    color:#B03500;
}
form textarea{
    min-height: 12em;
}
.method{
    margin-left: 100px;
}
/***********
FOOTER
***********/
#footer{
    text-align: center;
}
#footer .title span {
    color:rgba(255,255,255,0.4);
}
#wrapper4{
    overflow: hidden;
    padding: 8em 0em;
    background: #B03500;
}
/***
icons
*****/
ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}
ul.contact li {
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1.2em;
}
ul.contact li span{
    display: none;
    margin: 0;
    padding: 0;
}
ul.contact li a {
    color: white;
}
ul.contact li a:before{
    display: inline-block;
    background:#242424;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
ul.contact li a:hover{
    color: black;
}

/***********
copyright
***********/
#copyright {
    overflow: hidden;
    padding: 4em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
    background:#242424;
}
#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    font-size: 0.80em;
    color: rgba(255,255,255,0.3);
}
#copyright{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}